.abe {
    max-height: 650px; /* Đặt chiều cao tối đa cho container */
    overflow: auto; /* Bật thanh cuộn ngang và dọc khi cần thiết */
  }
  
  
  .Hihi{color: rgb(0, 0, 0); border: 2px solid rgb(0, 0, 0)}
 

  .Olich{
    background-color: #401D83;
    color: #68D69D;
  }

  .Hihi{
    background-color: rgb(255, 255, 255);
  }
