.container {
  max-height: 650px; /* Đặt chiều cao tối đa cho container */
  overflow: auto; /* Bật thanh cuộn ngang và dọc khi cần thiết */
}


.Hihi{color: rgb(255, 255, 255); border: 2px solid rgb(255, 255, 255)}
td,
th {
  border: 2px solid rgb(255, 255, 255);
}


