.ChangePass_around {
    position: fixed;
     top: 0;
     left: 0;
    z-index: 88888;
    background-color: rgb(20,27,45);
    opacity: 0.7;
    height: 100vh;
    width: 100vw;
}
.ChangePass__form {
    display: block;
    background-color: rgb(25, 40, 77);
    position: fixed;
     top: 50%;
     left: 50%;
     z-index: 99999;
    transform: translate(-50%,-50%);
    padding: 20px;
    height: 400px;
    width: 350px;
    border-radius: 5px;
    opacity: 1;
    .img {
        display: block;
        margin: 0 auto 20px;
        border-radius: 5px;
        transform: scale(0.85);
    }
    .title {
        display: inline-block;
        margin-left: 5px;
        margin-top: 2px;
        font-size: 1.15em;
    }
    .box {
        border: 2px rgb(35, 80, 170) solid;
        display: inline-block;
        width: 100%;
        height: 50px;
        margin-top: 8px;
        margin-bottom: 15px;
        box-shadow: none;
        border-radius: 5px;
        background-color: rgb(22, 34, 56);
        color: white;
        transition: 200ms;
        &:hover{
            background-color: rgb(37, 54, 87);
        }
        &:active,
        &:focus{
            background-color: rgb(255, 255, 255);
            color: rgb(0,0,0);
            outline: 2px rgb(35, 80, 170) solid;
        }
    }
    .btn-changePass{
        border: none;
        position: absolute;
        width: 42%;
        height: 50px;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 700;
        color: rgb(226, 226, 228);
    }
    .confirm{
        bottom: 5%;
        left: 20px;
        background-color: rgb(13,110,253);
        &:hover{
            transition: 0.5s;
            background-color: rgb(0, 76, 190);
        }
    }
    .cancle{
        bottom: 5%;
        right: 20px;
        background-color: rgb(220,53,69);
        &:hover{
            transition: 0.5s;
            background-color: rgb(172, 41, 54);
        }
    }
}
.message{
    display: flex;
     justify-content: flex-start;
     align-items: center;
    position: absolute;
     top: 120px;
     right: -300px;
     z-index: 99999;
    width: 300px;
    height: 60px;
    border-radius: 5px;
    padding: 0;
    background-color: rgb(62,67,150);
    animation: end_message 5s 1 forwards;
    &_error{
        // position: absolute;
        //  left: 0;
        display: flex;
         align-items: center;
        //  justify-content: flex-end;
        height: 50px;
        width: 50px;
        // margin-left: 10px;
        margin: auto 15px;
        padding: 4px;
        border-radius: 50%;
        background-color: rgb(220,53,69);
        &_icon{
            background-color: rgb(62,67,150);
            height: 100%;
            width: 100%;
            text-align: center;
            font-size: 29px;
            font-weight: 900;
            color: rgb(220,53,69);
            border-radius: inherit;
        }
    }
}
@keyframes end_message{
    0%{
        right: -300px;
    }
    16%{
        right: 10px;
    }
    95%{
        right: 10px;
    }
    100%{
        right: -300px;
        // display: none;
    }
}
@keyframes loading_icon{
    0%{
        background-image: linear-gradient(0deg ,rgb(20,27,45) 1%,rgb(223, 168, 3));
    }
    10%{
        background-image: linear-gradient(36deg ,rgb(20,27,45) 1%,rgb(223, 168, 3));
    }
    20%{
        background-image: linear-gradient(72deg ,rgb(20,27,45) 1%,rgb(223, 168, 3));
    }
    30%{
        background-image: linear-gradient(108deg ,rgb(20,27,45) 1%,rgb(223, 168, 3));
    }
    40%{
        background-image: linear-gradient(144deg ,rgb(20,27,45) 1%,rgb(223, 168, 3));
    }
    50%{
        background-image: linear-gradient(180deg ,rgb(20,27,45) 1%,rgb(223, 168, 3));
    }
    60%{
        background-image: linear-gradient(216deg ,rgb(20,27,45) 1%,rgb(223, 168, 3));
    }
    70%{
        background-image: linear-gradient(252deg ,rgb(20,27,45) 1%,rgb(223, 168, 3));
    }
    80%{
        background-image: linear-gradient(288deg ,rgb(20,27,45) 1%,rgb(223, 168, 3));
    }
    90%{
        background-image: linear-gradient(324deg ,rgb(20,27,45) 1%,rgb(223, 168, 3));
    }
    100%{
        background-image: linear-gradient(360deg ,rgb(20,27,45) 1%,rgb(223, 168, 3));
    }
}