.form_around{
    position: fixed;
     top: 0;
     left: 0;
     z-index: 88888;
    height: 100vh;
    width: 100vw;
    background-color: rgb(20,27,45);
    animation: showaround 200ms 1 linear forwards;
}
.form_headquarter{
    display: block;
    background-color: rgb(20,27,45);
    position: fixed;
     left: 50%;
     z-index: 99999;
    transform: translate(-50%,-50%);
    padding: 20px;
    height: 330px;
    width: 350px;
    border-radius: 5px;
    animation: showform 200ms 1 linear forwards;
    &_title{
        font-size: 25px;
        width: 100%;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    &__title{
        display: block;
        box-sizing: border-box;
        position: absolute;
         top: -10px;
         left: 10px;
        display: block;
        background-color: rgb(20,27,45);
        padding: 0 5px;
        color: rgb(136, 135, 172);
        font-size: 13px;
    }
    &_input{
        position: relative;
        height: 70px;
        // margin-bottom: none; 
        // background-color: rgb(148, 52, 52);
        width: 100%;
        align-items: end;
        margin-top: 25px;
        // &:hover .box,
        .box{
        border: 1px rgb(72,69,124) solid;
        display: block;
        width: 100%;
        height: 50px;
        // height: 0px;
        margin: auto auto 0;
        box-shadow: none;
        outline: 0px;
        border-radius: 5px;
        background-color: rgb(20,27,45);
        padding-left: 5px;
        color: rgb(136, 135, 172);
        font-size: 15px;
        outline: none;
        &:hover{
            transition: 200ms;
            border: 2px rgb(25,135,84) solid;
        }
        &:focus,
        &:active{
            transition: 200ms;
            outline: 0;
            border: 2px rgb(25,135,84) solid;
            border-radius: 5px;
            margin-top: 0;
            color: rgb(25,135,84);
        }
        &:hover ~.form_headquarter__title{
        transition: 200ms;
        color: rgb(25,135,84);
        }
        &:focus ~.form_headquarter__title{
        transition: 100ms;
        left: 8px;
        color: rgb(25,135,84);
        border-left: 2px rgb(25,135,84) solid;
        border-right: 2px rgb(25,135,84) solid;
        }
    }
    }
    &__btn{
        border: none;
        position: absolute;
        width: 42%;
        height: 50px;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 700;
        color: rgb(226, 226, 228);
    }
    .update{
        bottom: 5%;
        right: 20px;
        background-color: rgb(13,110,253);
        &:hover{
            transition: 0.5s;
            background-color: rgb(0, 76, 190);
        }
    }
    .cancel{
        bottom: 5%;
        left: 20px;
        background-color: rgb(220,53,69);
        &:hover{
            transition: 0.5s;
            background-color: rgb(172, 41, 54);
        }
    }
}


@keyframes showform{
    from{
        top: 48%;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 1;
    }
}

@keyframes showaround{
    from{
        opacity: 0;
    }
    to{
        opacity: 0.5;
    }
}