.account{
    display: flex;
     flex-direction: column;
    position: absolute;
     top: 35px;
     right: 10px;
     z-index: 1;
    .div{
        width: 120px;
        text-align: right;
        border-radius: 2px red solid;
        font-size: 0.7em;
        .logOutBtn{
            text-decoration: none;
            color: white;
        }
    }
}